.aboutSectionContainer {
  margin-top: 100px;
}

.aboutSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutSection article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.aboutSection article p {
  color: black;
}

.size {
  font-size: 100px;
}

.overlap {
  position: absolute;
}

.overlap::after {
  content: "";
  background-image: url("../Images/Polygon.svg");
}

.aboutIcons {
  width: 237px;
}
