.aboutMeContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.imageContainer {
  margin: auto;
}

.border {
  display: flex;
  margin-top: 28px;
  height: 310px;
}

.overlap {
  position: absolute;
  margin-left: 28px;
  width: auto;
  height: 310px;
}

.aboutMeImageContainer {
  display: flex;
  justify-content: center;
}

.textContainer {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 360px;
}

.textContainer h2 {
  font-size: 30px;
  color: #b9ab9d;
  margin-top: 0;
}

.underline {
  color: #b9ab9d;
  border-bottom: 3px solid #aab83e;
}

.textContainer p {
  display: block;
  font-size: 18px;
  color: #b9ab9d;
  font-family: "MontserratMedium";
}

.btn {
  text-align: center;
  width: 220px;
  padding: 15px;
  border: 2px solid #aab83e;
  color: #aab83e;
  border-radius: 10px;
  background-color: #aab83e00;
  font-size: 20px;
  transition-duration: 0.7s;
  font-family: "MontserratSemiBold";
  text-decoration: none;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #aab83e;
  color: #34353a;
}

.getInTouch {
  color: #aab83e;
}

.getInTouch:hover {
  cursor: pointer;
}

.color {
  color: #aab83e;
}

@media only screen and (min-width: 700px) {
  /* .overlap {
    width: 250px;
  } */

  .textContainer {
    width: 80%;
  }
}

@media only screen and (min-width: 1100px) {
  .aboutMeContainer {
    flex-direction: row;
  }

  .border {
    display: flex;
    margin-top: 28px;
    height: 310px;
  }

  .overlap {
    position: absolute;
    margin-left: 28px;
    height: 310px;
    width: auto;
  }

  .aboutMeImageContainer {
    display: flex;
    height: 360px;
  }

  .textContainer {
    text-align: left;
    align-items: flex-start;
    justify-content: space-around;
    width: 60%;
    margin-top: 0px;
  }

  .textContainer p {
    margin: 0;
  }

  .imageContainer {
    width: 40%;
  }

  .btn {
    width: 200px;
  }
}
