.nav {
  position: sticky;
  top: 0;
  background-color: #242426;
  color: #b9ab9d;
  box-sizing: border-box;
  border-bottom: 2px solid #aab83e;
}

.navContent {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navContent article {
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.imgSocial {
  width: 30px;
  padding: 15px;
}

.logo {
  width: 90px;
  padding: 15px;
}

.active {
  color: #aab83e;
}

.size {
  font-size: 20px;
  padding: 22px;
}
