@font-face {
  font-family: Montserrat;
  src: url("./Font/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: MontserratSemiBold;
  src: url("./Font/Montserrat/Montserrat-SemiBold.ttf");
}

.App {
  text-align: center;
  font-family: "Montserrat";
  box-sizing: border-box;
  background-color: #34353a;
}

.titleDescription {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 255, 255, 0);
}

p {
  color: #b9ab9d;
  margin: 0;
  padding: 0;
  display: inline;
}

span {
  color: #aab83e;
  padding: 0;
  margin: 0;
}

.btn {
  border: 2px solid #aab83e;
  background-color: rgba(0, 255, 255, 0);
  color: #aab83e;
  border-radius: 9px;
  height: 80px;
  display: flex;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  align-items: center;
  transition-duration: 0.7s;
  font-family: "MontserratSemiBold";
  font-size: 26px;
}

.arrow {
  transition-duration: 0.7s;
  color: #aab83e;
}

.btn:hover {
  background-color: #aab83e;
  color: #34353a;
}

.btn:hover .arrow {
  transform: rotate(90deg);
  color: #34353a;
}

.contentSection {
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 400px) {
  .btn {
    width: 160px;
    font-size: 16px;
  }
  .arrow {
    font-size: 16px;
  }

  .titleDescription {
    font-size: 30px;
  }
}

@media only screen and (min-width: 401px) {
  .btn {
    width: 260px;
    font-size: 20px;
  }
  .arrow {
    font-size: 20px;
  }

  .titleDescription {
    font-size: 40px;
  }
}

@media only screen and (min-width: 800px) {
  .btn {
    width: 360px;
    font-size: 26px;
  }
  .arrow {
    font-size: 30px;
  }

  .titleDescription {
    font-size: 60px;
  }
}
